body {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
}

#react-target {
  display: grid;
  height: 100vh;
  grid-template-areas: "powerbar powerbar" "nav activity";
  grid-template-rows: 2em 1fr;
  grid-template-columns: min-content 1fr;
  /* gap: 1em; */
}
.launcher-window {
  grid-area: nav;
  padding: 0.5em;
  box-sizing: border-box;
  overflow-y: scroll;
  border-right: 2px solid gray;
}
.launcher-window ul {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.launcher-window li {
  display: grid;
  height: 2em;
}
.launcher-window button {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.activity-contents-wrap {
  grid-area: activity;
}
iframe.activity-contents-wrap {
  justify-self: stretch;
  align-self: stretch;
  border: 0;
  min-height: 0;
  min-width: 0;
}
.shell-floating-layer {
  grid-area: activity;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.shell-backdrop {
  background: url("/bliss-optimized.svg") 50% 50%;
  background-size: cover;
  grid-area: activity;
  z-index: -10;
}
.shell-window {
  position: absolute;
  /* left: 50px;
  top: 50px;
  width: 200px;
  height: 150px; */
  overflow: hidden;
  background-color: #fff;
  /* border: 2px solid gray; */
  display: grid;
  grid-template-areas: "handle powerbar" "handle activity";
  grid-template-rows: 1.5em 1fr;
  grid-template-columns: 1.5em 1fr;
  resize: both;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 2px 4px 16px 2px rgba(0,0,0,0.3), 2px 4px 8px 2px rgba(0,0,0,0.2);
}
.shell-window-handle {
  grid-area: handle;
  background-color: #87b3f3;
  display: flex;
  cursor: grab;
}
.shell-window-grip {
  border-left: 2px solid #3c7fe8;
  border-right: 2px solid #3c7fe8;
  margin: 1em 30%;
  flex: 1;
}
.shell-powerbar {
  grid-area: powerbar;
  display: flex;
  margin: 0;
  background-color: #333;
  color: #eee;
  overflow: hidden;
}
.shell-powerbar select {
  background-color: #333;
  color: #eee;
  padding: 0 1em;
}

.react-draggable-transparent-selection,
.react-draggable-transparent-selection .shell-window-handle {
  cursor: grabbing;
}
.react-draggable-transparent-selection iframe {
  pointer-events: none;
}
