body {
  font-family: sans-serif;
}

body.shell-workspace-floating {
  padding: 0;
  margin: 0;
}
body.shell-workspace-floating #react-target {
  display: grid;
  height: 100vh;
  grid-template-areas: "powerbar powerbar" "nav activity";
  grid-template-rows: 2em 1fr;
  grid-template-columns: min-content 1fr;
  /* gap: 1em; */
}

.activity-contents-wrap {
  grid-area: activity;
}
.activity-contents-wrap:not(iframe) {
  overflow-y: auto;
}
.shell-window.rolled .activity-contents-wrap {
  display: none;
}
.shell-window.rolled-loading .activity-contents-wrap:not(.frame-loader) {
  display: none;
}
iframe.activity-contents-wrap {
  justify-self: stretch;
  align-self: stretch;
  border: 0;
  border-top: 1px solid #999;
  min-height: 0;
  min-width: 0;
}
.shell-floating-layer {
  grid-area: activity;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.shell-backdrop {
  background: url("/bliss-optimized.svg") 50% 50%;
  background-size: cover;
  grid-area: activity;
  z-index: -10;
}
@media (prefers-color-scheme: dark) {
  .shell-backdrop {
    background-image: url("/bliss-darkened-optimized.svg");
  }
}
.shell-window {
  position: absolute;
  /* left: 50px;
  top: 50px;
  width: 200px;
  height: 150px; */
  overflow: hidden;
  background-color: #fff;
  /* border: 2px solid gray; */
  display: grid;
  grid-template-areas: "rollupbtn powerbar" "handle activity";
  grid-template-rows: 2em 1fr;
  grid-template-columns: 1.5em 1fr;
  resize: both;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 2px 4px 16px 2px rgba(0,0,0,0.3), 2px 4px 8px 2px rgba(0,0,0,0.2);
}
.shell-window-handle {
  grid-area: powerbar / handle / handle / handle;
  background-color: #87b3f3;
  transition: 100ms linear background-color;
  display: flex;
  cursor: grab;
}
.shell-window-handle:hover {
  background-color: #6da3f2;
}
.shell-window-grip {
  border-left: 2px solid #3c7fe8;
  border-right: 2px solid #3c7fe8;
  margin: 1em 30%;
  flex: 1;
}
.intent-frame .shell-window-handle {
  background-color: #f38787;
}
.intent-frame .shell-window-handle:hover {
  background-color: #f26d6d;
}
.intent-frame .shell-window-grip {
  border-color: #e83c3c;
}
.shell-powerbar { /* TODO: rename to window-bar or something*/
  grid-area: powerbar;
  display: flex;
  margin: 0;
  background-color: #333;
  color: #eee;
  overflow: hidden;
}
.shell-powerbar select, .shell-powerbar button {
  background-color: #333;
  color: #eee;
  padding: 0 1em;
}
.window-rollup-toggle {
  grid-area: rollupbtn;
  margin: 0.5em;
  padding: 0;
}
.window-title {
  flex: 1;
  padding: 0.1em 0.5em;
  align-self: center;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: pre;

  display: flex;
  align-items: center;
  gap: 0.5em;
}
.window-title .app-name {
  font-size: 1.4em;
  color: rgba(0,0,0,0.7);
}
@media (prefers-color-scheme: dark) {
  .window-title .app-name {
    color: rgba(255,255,255,0.7);
  }
}
.window-buttons {
  display: flex;
  justify-content: stretch;
}
.window-buttons button {
  padding: 0 0.2em;
  cursor: pointer;
}
.window-buttons button svg {
  fill: red;
}


@media (prefers-color-scheme: dark) {
  .shell-window {
    background-color: #333;
    color: #fff;
  }
}

.react-draggable-transparent-selection,
.react-draggable-transparent-selection .shell-window-handle {
  cursor: grabbing;
}
.react-draggable-transparent-selection iframe {
  pointer-events: none;
}

.appIcon {
  width: 2em;
  /* height: 2em; */
  aspect-ratio: 1;
  line-height: 2em;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.window-title .appIcon {
  font-size: 1.2em;
}

.launcher-window {
  padding: 0.5em;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* TODO: different on narrow and wide */
  gap: 0.5em;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  .launcher-window button {
    color: #eee;
  }
}
.launcher-window button {
  flex-basis: 10em;
  display: grid;
  justify-items: center;
  background: none;
  padding: 1em;
  gap: 0.5em;
  border-width: 0;
  cursor: pointer;
}
.launcher-window button:hover {
  background-color: rgba(0,0,0,0.05);
}
@media (prefers-color-scheme: dark) {
  .launcher-window button:hover {
    background-color: rgba(255,255,255,0.05);
  }
}
.launcher-window button .appIcon {
  font-size: 32px;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  transition: 50ms linear transform;
}

.launcher-window button:hover .appIcon {
  transform: scale(1.1);
}
