.listing-row {
  display: grid;
  grid-template-columns: 8em 1fr 8em;
  gap: 1em;
}
.app-icon {
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.1);
}
.listing-row:hover .app-icon,
.detail-page .app-icon {
  background-color: #fff;
}

body {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0 2em 10em;
  box-sizing: border-box;
  width: 100%;
  font-family: monospace;
}
form {
  display: grid;
  grid-template-columns: min-content minmax(8em,1fr) 8em 8em;
  grid-template-rows: 3em min-content;
  grid-gap: 1em;
  grid-auto-rows: 3em;
  margin: 1em;
}
input, textarea, select, button {
  box-sizing: border-box;
  font-family: inherit;
  padding: 0.3em 0.5em;
  border: 1px solid #999;
}
input, textarea, select {
  background-color: #222;
  color: #fff;
  font-size: 1em;
  /*overflow-y: hidden;*/
}
input[readonly], textarea[readonly] {
  border-width: 0;
  background-color: #555;
  color: #fff;
}
button {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}
button:hover, button:focus {
  border: 1px solid #ccc;
  background-color: #666;
}
button.primary {
  font-size: 1.2em;
}
button.square {
  aspect-ratio: 1;
}
section {
  font-size: 1em;
  margin: 0.8em;
  padding: 1em;
  background-color: rgba(200, 200, 200, 0.3);
}
.entry details {
  margin: 0.3em 0;
}
@media (max-width: 800px) {
  body {
    padding: 0 0 10em;
  }
  section {
    margin: 0.8em 0;
  }
  section.entry {
    padding-left: 0;
    padding-right: 0;
    /* text-align: center; */
  }
  .entry-head {
    padding: 0.5em;
  }
  progress {
    margin-bottom: 1em;
  }
}
h3 {
  margin: 0.2em 0 0.4em;
}
h3:not(:first-child) {
  padding-top: 1.2em;
}
a.deeplink {
  margin-right: 0.4em;
}
h4 {
  display: inline;
  margin: 0em 0 0.2em;
}
section.entry textarea {
  width: 100%;
  resize: vertical;
  vertical-align: bottom;
  padding: 0.3em 1em;
}
.error-msg {
  color: #f33 !important;
}
a {
  color: #ccc;
}
section.intro {
  padding: 0.5em 1em;
  background: none;
}
section.intro ul {
  padding: 0 0.5em;
  list-style: none;
}
.entry-body {
  margin: 0 1em;
}
section.footer {
  background-color: rgba(200, 200, 200, 0.15);
  color: rgba(200, 200, 200, 0.5);
}
section.footer a {
  color: rgba(200, 200, 200, 0.8);
}
