<div v-if="!state.selectedApp" id="history-col">
  <section class="intro">
    <ul>
      <li>this market lists several known applications which you can install.</li>
      <li>some applications will ask for configuration or credentials.</li>
      <li>also keep in mind that this whole thing is currently in Alpha.</li>
    </ul>
  </section>
  <section v-if="!state.selectedApp" class="listing-row" v-for="entry in listings">
    <img :src="entry.iconUrl" class="app-icon" />
    <div class="text-area">
      <h3>{{ entry.title }}</h3>
      <p>{{ entry.description }}</p>
    </div>
    <button type="button" @click="state.selectedApp = entry">View</button>
  </section>
  <section class="footer">
    <div>
      and that's it for now
    </div>
  </section>
</div>
<div v-if="state.selectedApp" class="detail-page">
  <section class="intro">
    <ul>
      <li><button type="button" @click="state.selectedApp = null">Back to directory</button></li>
    </ul>
  </section>
  <section class="listing-row">
    <img :src="state.selectedApp.iconUrl" class="app-icon" />
    <div class="text-area">
      <h3>{{ state.selectedApp.title }}</h3>
      <p>{{ state.selectedApp.description }}</p>
    </div>
    <template v-for="profile in profiles">
      <div style="grid-column: 2 / 5;"><hr></div>
      <div class="text-area" style="grid-column: 2 / 3;">
        <h3>{{ profile.title }}</h3>
        <p>{{ profile.namespace }}</p>
      </div>
      <template v-if="selectedAppHasInstallations(profile.namespace)">
        <button type="button" style="grid-column: 3 / 4;" @click="openApp(profile.namespace)">Open</button>
        <button type="button" style="grid-column: 4 / 5;">v</button>
      </template>
      <button v-else type="button" style="grid-column: 3 / 5;" @click="installApp(profile.namespace)">Install</button>
    </template>
  </section>
</div>
